@import "./variables";

@media screen and (max-width: 900px) {
  .flex-direction {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: $motog4-size) {
  .slogan,
  .button__label,
  .already {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .profile_section {
    .birthdayInfo,
    .dateJoined,
    .numberFollow {
      margin-bottom: 10px;
    }
    .numberFollow {
      display: flex;
      flex-direction: row;
    }
  }
}
