@import "../../assets/styles/index.scss";

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
input {
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 5px;
  max-width: 350px;
  width: 90%;
  height: 50px;
  padding: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2d3748;
}
