@import "../../../styles/index.scss";

.navbar {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
}
.navbar .navbar__item {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #333333;
  text-decoration: none;
}
.navbar__item_container {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 70%;
}
.navbar__item_container:hover {
  background: #ebebeb;
  border-radius: 20px;
}

.navbar__item_container:nth-child(2) {
  margin-top: 35px;
}
.navbar .navbar__item:nth-child(2) a {
  color: $button-primary-color;
}
.navbar .navbar__item a {
  text-decoration: none;
  color: #000000;
}
.navbar .navbar__item svg {
  margin-right: 1.1rem;
  width: 26px;
  height: 23px;
}
.navbar > .navbar__item_container svg path {
  fill: black;
}

.navbar .navbar__item:first-child img {
  width: 30px;
  height: 24px;
}
