.tweet_container {
  border-bottom: 1px solid rgba(229, 229, 229, 0.5);
}

.tweet_info {
  padding: 0 32px;
  display: flex;
  padding-bottom: 12px;
  padding-right: 18px;
}

.tweet_profile_information {
  margin-top: 20px;
}
.tweet_configuration {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 27px;
}
.tweet_profile_image {
  margin-right: 16px;
  margin-top: 15px;
}
.tweet_image {
  max-width: 100%;
}
.tweet_profile_user,
.tweet_profile_time {
  color: #828282;
}

.tweet_profile_name {
  font-weight: bold;
}

.tweet_profile_name,
.tweet_profile_user,
.tweet_profile_time {
  margin-right: 6px;
  font-style: normal;
  font-size: 15px;
  line-height: 18px;
}
.tweet_profile_header {
  display: flex;
  flex-direction: row;
}
.tweet_message {
  margin-top: 8px;
}
.tweet_main_message {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #333333;
}
.tweet_options_icons {
  margin-right: 1%;
}
.tweet_options_icons:hover {
  cursor: pointer;
}
.tweet_options_icons svg path:hover {
  fill: #1da1f2;
}
.tweet_options {
  display: flex;
  justify-content: space-evenly;
  width: 93%;
  margin-bottom: 7px;
}
.likeActive path {
  fill: red;
}
.likeNotActive path {
  fill: rgb(130, 130, 130);
}
.tweet_select_remove {
  border: 1px solid #828282;
  max-width: 150px;
  width: 90%;
  display: inline-block;
  padding: 5px;
  background-color: white;
  color: red;
}

.menu {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  outline: 0;
  text-align: left;
}

/* style for the button */
.menu:before {
  content: url("../../../assets/images/icons/arrow.svg");
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu:focus {
  pointer-events: none;
}

/* If :focus detected the dropdown menu is displayed by making it visible */
.menu:focus .menu-dropdown {
  opacity: 1;
  visibility: visible;
}

/* style for the dropdown box */
.menu-dropdown {
  background-color: #364656;
  max-width: 130px;
  width: 150px;
  margin: 3px 0 0 0;
  padding: 10px;
  border-radius: 3px;
  border-radius: 3px;
  pointer-events: auto;
  position: absolute;
  top: -10px;
  left: -110px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s;
  background: white;
  color: red;
  cursor: pointer;
}

/* style the links in the dropdown */
.menu-dropdown a {
  background: transparent;
  border: none;
  outline: 0;
  display: block;
  color: white;
  text-decoration: none;
  width: 160px;
  padding: 5px;
}
.buttonRemoveTweet g path {
  fill: red;
}

@media screen and (max-width: 360px) {
  .tweet_options_icons {
    margin-right: 12%;
  }
  .tweet_options {
    justify-content: flex-end;
  }
}
