@import "../../../assets/styles/index.scss";

.container {
  display: inline-flex;
  width: 100%;
}
.flex-direction {
  flex-direction: row;
}
.logo {
  background: $button-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
}
.logo > img {
  max-width: 550px;
  width: 90%;
}
.welcome {
  max-width: 1200px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: inherit;
  width: 100%;
}
.welcome__container > img {
  position: relative;
  left: -21px;
}

.slogan {
  text-align: left;
  position: relative;
  left: -46px;
  margin-bottom: 22px;
  margin-top: 26px;
}
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button__label {
  position: relative;
  left: -37px;
  margin-bottom: 9px;
}
